spring:
  datasource:
    url: jdbc:h2:mem:vinyl1
    username: vinyl
    password: vi123
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: validate # validate | update | create | create-drop
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false
